!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %title Реєстрація
  %body
    %p Дякуємо за реєстрацію. Результати будуть доступні на сайті після 7 квітня
