.wrapper_menu
  .menu
    .logo.menu-transition
      %img.menu-transition{:alt => "logo", :src => "/images/logo.png"}
    %nav.menu-transition.js-main-nav
      %ul.nav
        %li.active
          %a(href='#start') Старт
        %li
          %a(href='#calendar') Календар виставки
        %li
          %a(href='#awards') Нагороди
        %li
          %a(href='#partners') Партнери
        %li
          %a(href='#jury') Журі


.slide#start
  .slide__bg
    .slide_text
      %h1.photo_logo ФОТОПОРТРЕТ
      %h4 Шоста бієнале імені Степана НАЗАРЕНКА
      %h4
        Фотопортрет — національний конкурс в жанрі фотопортретистики, що проходить в режимі бієнале.
        Мета конкурсу — продовження та розвиток
        кращих традицій української портретної фотографії.


-#      take part
= haml :_take_part


-#      calendar
.calendar#calendar
  %img{alt: "", blur: "", src: "/images/bgblur.png"}
  .events
    %h3 Календар виставки
    %ul
      %li
        %span 31 березня, 23:59
        %h4 Остання дата прийому робіт
      %li
        %span 07 квітня
        %h4 Робота журі
      %li
        %span Квітень
        %h4 Повідомлення рішення журі
      %li
        %span 05 травня
        %h4 Відкриття виставки, церемонія нагородження
      %li
        %span літо–осінь 2017
        %h4 Розсилка каталогів



-#    sponsors
.partners.wrapper
  %h3 Організатори
  .partnerlist
    .parterline
      .partner
        .partnerlogo
          %a{href: "http://www.if.gov.ua"}
            %img{alt: "Управління культури, національностей та релігій Івано-Франківської облдержадміністрації", src: "/images/Iv-Fr-Oblast-web.png"}
          %p Управління культури, національностей та релігій Івано-Франківської облдержадміністрації
      .partner
        .partnerlogo
          %a{href: "http://www.mvk.if.ua"}
            %img{alt: "Виконавчий комітет Івано-Франківської міської ради", src: "/images/Ivano-Frankivsk-mvk-web.png"}
          %p Виконавчий комітет <br> Івано-Франківської <br> міської ради
      .partner
        .partnerlogo
          %a{href: "http://kultura-tsm.at.ua"}
            %img{alt: "Відділ культури Тисменицької райдержадміністрації", src: "/images/Tysmenycya-web.png"}
          %p Відділ культури Тисменицької райдержадміністрації
    .parterline
      .partner
        .partnerlogo
          %a{href: "http://www.photospilka.com"}
            %img{alt: "Івано-Франківська обласна організація НСФХУ", src: "/images/natsionalna-spilka-fotokhudozhnykiv-ukrainy-web.png"}
          %p Івано-Франківська обласна організація НСФХУ
      .partner
        .partnerlogo
          %a{href: "http://photocolumb.at.ua"}
            %img{alt: "фотоклуб «Колумб»", src: "/images/fotoklub-kolumb-web.png"}
          %p Народний фотоклуб «Колумб», Тисмениця
  %h3 Патронат
.partners.wrapper
  .partnerlist
    .partner
      .partnerlogo
        %a{href: "http://www.photospilka.com"}
          %img{alt: "Національна спілка фотохудожників України", src: "/images/natsionalna-spilka-fotokhudozhnykiv-ukrainy-web.png"}
        %p  Патронат 01/2017
    .partner
      .partnerlogo
        %a{href: "http://www.image-sans-frontiere.com/"}
          %img{alt: "LABEL ISF 126/2015", src: "/images/image-sans-frontiere-web.png"}
        %p LABEL ISF 030/2017
-#        awards
.medals.wrapper
  %h3 Нагороди
  .medals_container
    .medal
      %img{alt: "", src: "/images/medals/ISF-gold.png"}/
      %p Золота медаль <br> ISF
    .medal
      %img{alt: "", src: "/images/medals/ISF-silver.png"}/
      %p Срібна медаль <br> ISF
    .medal
      %img{alt: "", src: "/images/medals/ISF-bronze.png"}/
      %p Бронзова медаль <br> ISF
    .medal
      %img{alt: "", src: "/images/medals/medal-NSPAU-gold.png"}/
      %p Золота медаль <br> НСФХУ
    .medal
      %img{alt: "", src: "/images/medals/medal-NSPAU-silver.png"}/
      %p Срібна медаль <br> НСФХУ
    .medal
      %img{alt: "", src: "/images/medals/medal-NSPAU-bronze.png"}/
      %p Бронзова медаль <br> НСФХУ

.awards.wrapper#awards
  %h3 Призи
  .awards_container
    .award
      %a{href: "http://www.prophoto.ua/products/tripod/41/144/"}
        %img{alt: "Slik Pro 340 DX Leg", src: "/images/award_Slik-Pro-340-DX-Leg.jpg"}/
      %p Штатив професійний Slik Pro 340 DX Leg
    .award
      %a{href: "http://www.prophoto.ua/products/278/1395/"}
        %img{alt: "Lastolite TriGrip", src: "/images/award_Lastolite-TriGrip-120sm.jpg"}/
      %p Відбивач трикутний Lastolite TriGrip 120 см
    .award
      %a{href: "http://www.prophoto.ua/products/42/1858/"}
        %img{alt: "Slik SH-726E", src: "/images/award_Slik-SH-726E-Head.jpg"}/
      %p Штативна головка Slik SH-726E
    .award
      %a{href: "http://www.prophoto.ua/products/tripod/amateur/1895/"}
        %img{alt: "Photex FT 330A", src: "/images/award_Photex-FT-330A.jpg"}/
      %p Штатив Photex FT 330A
    .award
      %a{href: "#"}
        %img{alt: "Жорсткий диск Western Digital Elements 2TB від родини Войцюків", src: "/images/award_Western_Digital_Elements_2TB.jpg"}/
      %p Жорсткий диск Western Digital Elements 2TB від родини Войцюків
    .award
      %a{href: "http://www.cyfrovychok.ua/"}
        %img{alt: "www.cyfrovychok.ua", src: "/images/Tsyfrovychok-podarunkovyi-sertyfikat-na-3000-hrn.jpg"}/
      %p Подарунковий сертифікат на 3000 грн купівлю товарів в інтернет-магазині Цифровичок
    .award
      %a{href: "http://www.cyfrovychok.ua/"}
        %img{alt: "www.cyfrovychok.ua", src: "/images/Tsyfrovychok-podarunkovyi-sertyfikat-na-2000-hrn.jpg"}/
      %p Подарунковий сертифікат на 2000 грн купівлю товарів в інтернет-магазині Цифровичок
    .award
      %a{href: "http://www.toshiba.eu/hard-drives/portable/canvio-ready/"}
        %img{alt: "Жорсткий диск Toshiba Canvio Ready 500GB", src: "/images/Toshiba-Canvio-Ready-500GB.jpg"}/
      %p Жорсткий диск Toshiba Canvio Ready 500GB
    .award
      %a{href: "http://www.cyfrovychok.ua/"}
        %img{alt: "Рюкзак для фототехніки SUMDEX NRC-404BK", src: "/images/award_SUMDEX_NRC-404BK.jpg"}/
      %p Рюкзак для фототехніки SUMDEX NRC-404BK
    .award
      %a{href: "http://www.cyfrovychok.ua/Rukzak-D-LEX-LXPB-4720R-BK-Black.html"}
        %img{alt: "Рюкзак для фототехніки D-Lex LXPB-4720R-BK", src: "/images/award_D-Lex_LXPB-4720R-BK.jpg"}/
      %p Рюкзак для фототехніки D-Lex LXPB-4720R-BK
    .award
      %a{href: "http://www.cyfrovychok.ua/"}
        %img{alt: "Рюкзак для фототехніки RivaCase 7460 PS black", src: "/images/award_RivaCase_7460_PS_black.jpg"}/
      %p Рюкзак для фототехніки RivaCase 7460 PS black
    .award
      %a{href: "http://www.sako.com.ua/"}
        %img{alt: "www.sako.com.ua", src: "/images/Podarunkovyi-sertyfikat-na-druk-fotohrafii-Sako.jpg"}/
      %p Подарунковий сертифікат на друк фотографій в мережі «Сако»
    .award
      %a{href: "https://www.kingston.com/en/usb/personal_business/dtduo3"}
        %img{alt: "Kingston DataTraveler microDuo 3.0 32GB", src: "/images/Kingston-DataTraveler-microDuo-32GB.jpg"}/
      %p Накопичувач Kingston DataTraveler microDuo 3.0 32GB
    .award
      %a{href: "https://www.kingston.com/en/usb/personal_business/dtduo3"}
        %img{alt: "Kingston DataTraveler microDuo 3.0 16GB", src: "/images/Kingston-DataTraveler-microDuo-16GB.jpg"}/
      %p Накопичувач Kingston DataTraveler microDuo 3.0 16GB

  %p.notice А також спеціальні призи від Дизайн-студії Марії Волосовської, Центру Сучасного Мистецтва, ТОВ «Гайдай Студія», Компанії «Амвей», Платформи «Тепле Місто», Газети «День».

.sponsors.wrapper.center#partners
  %h3 Спонсори
  %a{href: "http://www.slik.com.ua/"}
    %img{alt: "SLIK", title: "SLIK", src: "/images/Slik-web.png"}
  %a{href: "http://www.prophoto.ua/"}
    %img{alt: "ПРОФОТО", title: "ПРОФОТО", src: "/images/prophoto-web.png"}
  %a{href: "#"}
    %img{alt: "PHOTEX", title: "PHOTEX", src: "/images/PHOTEX-web.png"}
  %a{href: "http://www.cyfrovychok.ua/"}
    %img{alt: "Цифровичок", title: "Цифровичок", src: "/images/Tsyfrovychok-web.png"}
  %a{href: "http://manfrotto.com.ua/"}
    %img{alt: "Manfrotto", title: "Manfrotto", src: "/images/manfrotto-web.png"}
  %a{href: "http://halytska.if.ua/"}
    %img{alt: "Страхова компанія «Галицька»", title: "Страхова компанія «Галицька»", src: "/images/halytska-web.png"}
  %a{href: "http://www.kuvert.com.ua"}
    %img{alt: "Kuvert Ukraine", title: "Kuvert Ukraine", src: "/images/kuvert-ukraine-web.png"}
  %a{href: "https://www.amway.ua/"}
    %img{alt: "Amway", title: "Amway", src: "/images/amway-web.png"}
  %a{href: "#"}
    %img{alt: "Фото-відео студія в ратуші", title: "Фото-відео студія в ратуші", src: "/images/foto-video-studiia-v-ratushi-web.png"}
  %a{href: "#"}
    %img{alt: "Прометей фото студія", title: "Прометей фото студія", src: "/images/prometey-web.jpg"}
  %a{href: "http://carpatiia.ua/"}
    %img{alt: "Карпатія", title: "Карпатія", src: "/images/karpatiia-web.png"}
  %a{href: "http://sako.com.ua/"}
    %img{alt: "Сако", title: "Сако", src: "/images/Sako-web.png"}
  %a{href: "http://vk.com/expresia"}
    %img{alt: "Фотосалон «Експресія»", title: "Фотосалон «Експресія»", src: "/images/fotosalon-ekspresiia-web.png"}
  %a{href: "http://franko.if.ua/"}
    %img{alt: "Ресторан «Франко»", title: "Ресторан «Франко»", src: "/images/fran-ko-web.png"}
  %a{href: "https://www.facebook.com/csmstanislaw"}
    %img{alt: "Центр Сучасного Мистецтва", title: "Центр Сучасного Мистецтва", src: "/images/tsentr-suchasnoho-mystetstva-web.png"}
  %a{href: "http://mvolosovska.com.ua/"}
    %img{alt: "Дизайн-студія Марії Волосовської", title: "Дизайн-студія Марії Волосовської", src: "/images/Dyzain-studiia-Marii-Volosovskoi-web.png"}
  %a{href: "#"}
    %img{alt: "Станіславська випічка", title: "Станіславська випічка", src: "/images/stanislavska-vypichka-web.png"}
  %a{href: "http://warm.if.ua/"}
    %img{alt: "Платформа «Тепле Місто»", title: "Платформа «Тепле Місто»", src: "/images/teple-misto-web.png"}
  %a{href: "http://nplusk.com"}
    %img{alt: "N+K Architectvra", title: "N+K Architectvra", src: "/images/nplusk-web.png"}
  %a{href: "https://www.facebook.com/fabrykakavyif/"}
    %img{alt: "Фабрика кави", title: "Фабрика кави", src: "/images/fabryka-kavy-web.png"}


.partners.wrapper
  %h3 Інформаційна підтримка
  .partnerlist
    .partner
      .partnerlogo
        %a{href: "http://24tv.ua/"}
          %img{alt: "24 Канал", title: "24 Канал", src: "/images/24-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://artmisto.com/"}
          %img{alt: "Artmisto.com", title: "Artmisto.com", src: "/images/artmisto-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://artes.in.ua/"}
          %img{alt: "Artes.in.ua", title: "Artes.in.ua", src: "/images/Artes-in-ua-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://funphoto.ua/"}
          %img{alt: "funphoto.ua", title: "funphoto.ua", src: "/images/funphoto-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://versal.media/"}
          %img{alt: "Versal", title: "Versal", src: "/images/Versal-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.ap.if.ua/"}
          %img{alt: "Афіша Прикарпаття", title: "Афіша Прикарпаття", src: "/images/Afisha-Prykarpattia-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.blitz.if.ua/"}
          %img{alt: "Бліц Інфо", title: "Бліц Інфо", src: "/images/blits-info-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://briz.if.ua/"}
          %img{alt: "БРІЗ", title: "БРІЗ", src: "/images/Briz-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.vezha.org/"}
          %img{alt: "Вежа", title: "Вежа", src: "/images/Vezha-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.facebook.com/TysmenyckaVpered/"}
          %img{alt: "Вперед", title: "Вперед", src: "/images/Vpered-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.galychyna.if.ua/"}
          %img{alt: "Газета «Галичина»", title: "Газета «Галичина»", src: "/images/halychyna-hazeta-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.galka.if.ua/"}
          %img{alt: "Агенція новин Galka.if.ua", title: "Агенція новин Galka.if.ua", src: "/images/Galka-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://photogaidai.com/"}
          %img{alt: "Гайдай Студія", title: "Гайдай Студія", src: "/images/gaidai-studio-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.facebook.com/GalleryKamera/"}
          %img{alt: "Галерея Камера", title: "Галерея Камера", src: "/images/halereia-kamera-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://gk-press.if.ua/"}
          %img{alt: "Галицький кореспондент", title: "Галицький кореспондент", src: "/images/Halytskyi-korespondent-web.png"}
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "Голос народу", title: "Голос народу", src: "/images/Holos-narodu-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.prostir.ua/"}
          %img{alt: "Громадський простір", title: "Громадський простір", src: "/images/Hromadskyi-prostir-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://day.kyiv.ua/"}
          %img{alt: "День", title: "День", src: "/images/Den-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://kuryer-if.info/"}
          %img{alt: "Західний кур’єр", title: "Західний кур’єр", src: "/images/Zakhidnyi-kurier-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.1043.com.ua/"}
          %img{alt: "Західний полюс", title: "Західний полюс", src: "/images/Zakhidnyi-polius-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.youtube.com/channel/UChwxMaGGTl9rY-vnepp80ZA"}
          %img{alt: "Канал 402", title: "Канал 402", src: "/images/402-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://odtrk.if.ua/"}
          %img{alt: "ОДТРК Карпати", title: "ОДТРК Карпати", src: "/images/ODTRK-Karpaty-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.svitlytsia.in.ua/"}
          %img{alt: "Кримська Світлиця", title: "Кримська Світлиця", src: "/images/krymska-svitlytsia-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://cultua.media/gazeta-kultura-zhittja"}
          %img{alt: "Культура і життя", title: "Культура і життя", src: "/images/kultura-i-zhyttia-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://kurs.if.ua/"}
          %img{alt: "Курс", title: "Курс", src: "/images/Kurs-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.opishne-museum.gov.ua/"}
          %img{alt: "Національний музей-заповідник українського гончарства в Опішному", title: "Національний музей-заповідник українського гончарства в Опішному", src: "/images/natsionalnyi-muzei-zapovidnyk-ukrainskoho-honcharstva-v-opishnomu-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.newskraine.com.ua/"}
          %img{alt: "Новини Країни", title: "Новини Країни", src: "/images/novyny-krainy-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://galtv.if.ua/"}
          %img{alt: "Обласне телебачення Галичина", title: "Обласне телебачення Галичина", src: "/images/Halychyna-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://postup.if.ua/"}
          %img{alt: "Поступовий гурт франківців", title: "Поступовий гурт франківців", src: "/images/postupovyi-hurt-frankivtsiv-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://radiomap.eu/ua/play/dzvony"}
          %img{alt: "Радіо Дзвони", title: "Радіо Дзвони", src: "/images/radio-dzvony-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://trkrai.com/"}
          %img{alt: "ТРК РАІ", title: "ТРК РАІ", src: "/images/trkrai-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://report.if.ua/"}
          %img{alt: "Репортер", title: "Репортер", src: "/images/Reporter-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.instagram.com/gorichok/"}
          %img{alt: "Сергій Горічок", title: "Сергій Горічок", src: "/images/serhii-horichok-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.tt.if.ua/"}
          %img{alt: "Телебачення Тисмениці", title: "Телебачення Тисмениці", src: "/images/Telebachennia-tysmenytsi-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.youtube.com/user/ifstudio3"}
          %img{alt: "Третя Студія", title: "Третя Студія", src: "/images/3-studiia-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.ukrinform.ua/"}
          %img{alt: "Укрінформ", title: "Укрінформ", src: "/images/Ukrinform-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://photography.in.ua/"}
          %img{alt: "Українська фотографія", title: "Українська фотографія", src: "/images/ukrainska-fotohrafiia-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://ukrfoto.org/"}
          %img{alt: "Український центр фотомистецтва", title: "Український центр фотомистецтва", src: "/images/ukrainskyi-tsentr-fotomystetstva-web.png"}
    .partner
      .partnerlogo
        %a{href: "http://fotoafisha.com/"}
          %img{alt: "Фотоафіша", title: "Фотоафіша", src: "/images/fotoafisha-web.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.facebook.com/1573234386285085/"}
          %img{alt: "Яремчанський вісник", title: "Яремчанський вісник", src: "/images/yaremchanskyi-visnyk-web.png"}


-#        jury
.jury#jury
  .jury_wrap
    %h3 Журі
    .block
      %a.member{href: 'http://www.glib.vysheslavsky.name/index.html'}
        %img{alt: "Гліб Вишеславський", src: "/images/jury_vysheslavskyj.png"}
      .content
        %p.title
          Гліб ВИШЕСЛАВСЬКИЙ
          %br/
          %span Київ
        %p
          Художник, мистецтвознавець. З&nbsp;1980-х рр. автор та&nbsp;учасник багатьох персональних, міжнародних та&nbsp;місцевих колективних виставок (живопис, графіка, фотографія, інсталяція). У&nbsp;1980-х брав участь у&nbsp;русі митців-сквоттерів (Москва, Київ, Париж). У&nbsp;1990-х засновник і&nbsp;головний редактор часопису &laquo;TERRA INCOGNITA&raquo;. У&nbsp;2007&ndash;2010&nbsp;рр. головний редактор часопису &laquo;Галерея&raquo;. З&nbsp;2003&nbsp;р. науковий співробітник Інституту проблем сучасного мистецтва (Київ). Твори перебувають в&nbsp;Музеї сучасного мистецтва&nbsp;м. Сараєво (Боснія і&nbsp;Герцеговіна), Ментон (Франція), Національному музеї образотворчого мистецтва України (Київ), Трет&rsquo;яковській галереї (Москва).
    .block
      %a.member{href: 'http://photogaidai.com/'}
        %img{alt:"Ігор Гайдай", title: "Фото © Олександр Саврук", src: "/images/jury_gaidai.png"}
      .content
        %p.title
          Ігор ГАЙДАЙ
          %br/
          %span Київ
        %p
          Фотограф, засновник і&nbsp;співвласник ТОВ &laquo;ГАЙДАЙ СТУДІЯ&raquo; та&nbsp;галереї &laquo;КАМЕРА&raquo;, автор трьох фотокниг: &laquo;Українці. Початок третього тисячоліття&raquo; (1996-2003), &laquo;9&nbsp;місяців + 3&nbsp;дні&raquo; (2006-2008), &laquo;РАЗОМ.UA&raquo; (2004-2011). 15&nbsp;років співпрацював з&nbsp;провідними світовими рекламними агенціями як&nbsp;незалежний фотограф. З&nbsp;2002-го року залишив роботу в&nbsp;рекламі і&nbsp;присвятив свій час створенню й&nbsp;продюсуванню власних авторських фотопроектів і&nbsp;пропагуванню світової фотографії в&nbsp;Україні і&nbsp;української фотографії&nbsp;&mdash; в&nbsp;Європі.
    .block
      %a.member{href: 'https://www.facebook.com/gorichok'}
        %img{alt:"Сергій Горічок", title: "Фото © Сергій Горічок", src: "/images/jury_gorichok.png"}
      .content
        %p.title
          Сергій ГОРІЧОК
          %br/
          %span Івано-Франківськ
        %p
          Незалежний фотограф. Займається фотографією з&nbsp;2010-го року, член Національної Спілки фотохудожників України з&nbsp;2016-го року. Працює у&nbsp;портретному жанрі. З&nbsp;2014-го року&nbsp;&mdash; організатор групової щорічної виставки &laquo;Сучасний портрет&raquo;. Співпрацював з&nbsp;глянцевими видання: &laquo;Versal&raquo;, &laquo;Діти&raquo;, &laquo;Лікар&raquo;, &laquo;Like&raquo;. Автор персональних виставок &laquo;Портрет тет-а-тет&raquo;, &laquo;Час цінувати Час&raquo;.
    .block
      %a.member{href: 'http://photospilka.com/perun-taras-436/'}
        %img{alt: "Тарас Перун", title:"Фото © Вадим Козловський (старший)", src: "/images/jury_perun.png"}
      .content
        %p.title
          Тарас ПЕРУН
          %br/
          %span Чернівці
        %p
          Фотограф, член Національної Спілки фотохудожників України з&nbsp;2007-го року, голова Чернівецької обласної організації НСФХУ з&nbsp;2009-го року, член Приймальної комісії НСФХУ. Автор 8&nbsp;персональних виставок фотографій, брав участь у&nbsp;понад 50&nbsp;міжнародних та&nbsp;вітчизняних колективних виставках в&nbsp;Україні, Румунії, Німеччині, Австрії, Італії, Польщі. Один із&nbsp;засновників Чернівецького Народного фотоклубу &laquo;Позитив&raquo;.
    .block
      %a.member{href: 'http://tiosulfat.tumblr.com/'}
        %img{alt: "Іван Чернічкін", title:"Фото © Олександр Орлов", src: "/images/jury_chernichkin.png"}
      .content
        %p.title
          Іван ЧЕРНІЧКІН
          %br/
          %span Київ
        %p
          Фотограф, співзасновник креативної агенції &laquo;PoleZory&raquo;, автор та&nbsp;учасник персональних та&nbsp;колективних виставок. Закінчив факультет художньої фотографії Інституту кіно і&nbsp;телебачення Київського національного університету культури і&nbsp;мистецтв. З&nbsp;2004-го року працював фотожурналістом у&nbsp;виданнях X-Life, Коммерсант, агенстві новин REUTERS, був учасником майстер-класу Joop Swart World Press Photo, працював в&nbsp;журналі Фокус. Публікувався в&nbsp;REUTERS, AFP, New York Times, Daily Telegraph, Vogue, Sunday Telegraph, Frankfurter Allgemeine Zeitung, Herald Tribune, L&rsquo;Officiel, співпрацював з&nbsp;WHO i&nbsp;EBRD.

%footer.wrapper
  %a.fb_logo{href: "#{SiteConfig.fb_url}"}

    %img{alt: "fb_logo", src: "/images/fb_logo.png"}
  .adress
    %p
      Івано­-Франківська обласна організація
      Національної спілки фотохудожників України
      %br
      (НСФХУ)
      %br
      а/с 2, 76018 Івано-Франківськ
  %p +380 (66) 522-62-18
  %p info@photoportrait.org.ua
  .copyright
    %p © 2007–2017
