-#-# begin comment me
-#%h2 html5 upload
-#%form#form1{:action => "Upload.aspx", :enctype => "multipart/form-data", :method => "post"}
-#  .row
-#    %label{:for => "fileToUpload"} Select a File to Upload
-#    %br/
-#    %input#fileToUpload{:name => "image", :onchange => "fileSelected();", type: "file"}/
-#  #fileName
-#  #fileSize
-#  #fileType
-#  .row
-#    %input{:onclick => "uploadFile()", type: "button", :value => "Upload"}/
-#  #progressNumber
-#
-#
-#
-#- @photos.each do |photo|
-#  %div= photo.file
-#%h2 form upload
-#%form{:action => "/upload", :enctype => "multipart/form-data", :method => "post"}
-#  %p
-#    %input{:name => "image", type: "file"}
-#  %input{type: "submit", :value => "Take Note!"}
-#-# end comment me

.wrapper_menu
  .menu
    .logo.menu-transition
      %img.menu-transition{:alt => "logo", :src => "/images/logo.png"}
    %nav.menu-transition.js-main-nav
      %ul.nav
        %li.active
          %a(href='#start') Старт
        %li
          %a(href='#calendar') Календар виставки
        %li
          %a(href='#awards') Нагороди
        %li
          %a(href='#partners') Партнери
        %li
          %a(href='#jury') Журі


.slide#start
  .slide__bg
    .slide_text
      %h1 ФОТОПОРТРЕТ
      %h4 П’ята бієнале імені Степана НАЗАРЕНКА
      %h4
        Фотопортрет — національний конкурс в жанрі фотопортретистики, що проходить в режимі бієнале.
        Мета конкурсу — продовження та розвиток
        кращих традицій української портретної фотографії


.take-part
  %button.btn.btn--take-apart.js-show-take-part-content Взяти учать

  .wrapper.take-part-content.js-take-part-content
    %ul.steps
      %li.steps__item.js-take-part__nav-item
        %span Умови конкурсу
      %li.steps__item.js-take-part__nav-item
        %span Анкета
      %li.steps__item.js-take-part__nav-item
        %span Завантаження фото
      %li.steps__item.js-take-part__nav-item
        %span Оплата

    .terms.take-part__step.js-take-part__step
      %textarea.terms__text{readonly: "readonly"}
        :preserve

          1. До участі в конкурсі запрошуються всі фотографи України, а також персонально запрошені окремі автори із зарубіжжя.
          2. Кожен автор може подати максимально п’ять робіт. Всі роботи із серій розглядатимуться як окремі.
          3. Роботи на конкурс приймаються виключно на e­mail: photoportrait@gmail.com
          4. Конкурс проводитиметься в два етапи:

                           роботи на першому етапі приймаються у вигляді прев`ю у форматі jpg, роздільною здатністю 300dpi, до 1
                            Мб та 2300 px по довгій стороні. Розміру повинно бути достатньо для друку контрольних відбитків
                            розміром 15х20 см, які використовуватимуться в ході роботи журі.
                            після відбору журі, на другому етапі, автор має надіслати на той же e­mail  оригінали відібраних фото
                            об’ємом, що дозволятиме друк фотографій розмірами від 30х30 см до 30х45 см.

          5. Разом з відправкою прев`ю робіт автор повинен подати заповнену вхідну форму учасника (entry­form) та
          підтвердження оплати участі. Прохання вхідну форму заповнювати і зберігати в оригінальному форматі Word.
          Без заповненої entry­form та підтвердження оплати фотороботи не розглядаються.

          6. Не допускається оформлення робіт у вигляді псевдопаспарту, полів, рамок. Зображення повинно бути
          1. До участі в конкурсі запрошуються всі фотографи України, а також персонально запрошені окремі автори із зарубіжжя.
          2. Кожен автор може подати максимально п’ять робіт. Всі роботи із серій розглядатимуться як окремі.
          3. Роботи на конкурс приймаються виключно на e­mail: photoportrait@gmail.com
          4. Конкурс проводитиметься в два етапи:

                           роботи на першому етапі приймаються у вигляді прев`ю у форматі jpg, роздільною здатністю 300dpi, до 1
                            Мб та 2300 px по довгій стороні. Розміру повинно бути достатньо для друку контрольних відбитків
                            розміром 15х20 см, які використовуватимуться в ході роботи журі.
                            після відбору журі, на другому етапі, автор має надіслати на той же e­mail  оригінали відібраних фото
                            об’ємом, що дозволятиме друк фотографій розмірами від 30х30 см до 30х45 см.

          5. Разом з відправкою прев`ю робіт автор повинен подати заповнену вхідну форму учасника (entry­form) та
          підтвердження оплати участі. Прохання вхідну форму заповнювати і зберігати в оригінальному форматі Word.
          Без заповненої entry­form та підтвердження оплати фотороботи не розглядаються.

          6. Не допускається оформлення робіт у вигляді псевдопаспарту, полів, рамок. Зображення повинно бути

      %button.btn.btn--forward.js-agree-with-right Я погоджуюсь з умовами, продовжити

    .form.take-part__step.js-take-part__step
      %form.js-profile-form{action: '/save_profile', method: 'post'}

        %fieldset>
          %legend ОБОВ’ЯЗКВО ДЛЯ ЗАПОВНЕННЯ

          .inputfield
            %span Ім’я
            %input{type: "text", name: "name", class: "validate[required,maxSize[50]]"}
          .inputfield
            %span Прізвище
            %input{type: "text", name: "surname", class: "validate[required,maxSize[50]]"}
          .inputfield
            %span Адреса
            %input{type: "text", name: "address", class: "validate[required,maxSize[50]]"}
          .inputfield
            %span Телефон
            %input{type: "text", name: "phone", class: "validate[required,maxSize[50]]"}
          .inputfield
            %span E-mail
            %input{type: "email", name: "email", class: "validate[required,custom[email],maxSize[50]]"}

        %fieldset
          %legend ДОДАТКОВО
          .inputfield
            %span Веб сайт
            %input{type: "text", name: "site", class: "validate[maxSize[50]]"}
          .inputfield
            %span Приналежність до фотооб’єднання
            %input{type: "text", name: "photo_alliance", class: "validate[maxSize[50]]"}
          .inputfield
            %span Посада
            %input{type: "text", name: "position", class: "validate[maxSize[50]]"}

      %button.btn.btn--back.js-back-from-profile Назад
      %button.btn.btn--forward.btn--forward-short.js-send-profile Продовжити

    .upload.take-part__step.js-take-part__step
      %form.js-images-form{action: '/upload', method: 'post', enctype: "multipart/form-data"}
        .uploadwrap
          %p Тільки *.JPEG без стискання з наступними параметрами:8 BIT; RGB; 300 dpi; мінімум 2400 px по довшій стороні.Не допускаєтся оформлення у вигляді полів,псевдопаспарту, рамок, тощо. Максимум 5 фото.

          - 5.times do |i|
            .uploadform
              %input.preview-image-input.js-img-input{name: "image#{i}", type: "file", accept: "image/jpeg", id: "image_upload#{i}", class: "validate[groupRequired[files]]"}
              %label.preview{for: "image_upload#{i}"}
                %span НАТИСНІТЬ ЩОБ ВИБРАТИ ФОТО З ЖОРСТКОГО ДИСКУ
                %img.preview_image.js-img-preview
              .inputfield
                %span Назва
                %input.js-img-title{name: "title#{i}", type: "text", class: "validate[maxSize[50]]"}

      .clear

      %button.btn.btn--back.js-back-from-photos Назад
      %button.btn.btn--forward.btn--forward-short.js-send-photos Продовжити


-#      calendar
.calendar#calendar
  %img{alt: "", blur: "", src: "/images/bgblur.png"}
  .events
    %h3 Календар виставки
    %ul
      %li
        %span 29 березня
        %h4 Остання дата прийому робіт
      %li
        %span 03­04 квітня
        %h4 Робота журі
      %li
        %span Квітень
        %h4 Повідомлення рішення журі
      %li
        %span 08 травня
        %h4 Відкриття виставки, церемонія нагородження
      %li
        %span 08 травня – 17 травня
        %h4 Експозиція


-#        awards
.awards.wrapper#awards
  %h3 Нагороди
  .award
    %a{href: "http://www.prophoto.ua/products/tripod/pro/1343/"}
      %img{alt: "", src: "/images/aw_1.jpg"}/
    %p Штатив професійний SLIK Able 300 DX
  .award
    %a{href: "http://www.prophoto.ua/products/278/1391/?rp=9 "}
      %img{alt: "", src: "/images/aw_2.jpg"}/
    %p Відбивач круглий LASTOLITE  Bottletops 5in1 50см (2096) (x2)
  .award
    %a{href: "http://www.prophoto.ua/products/305/310/1799/?rp=4  "}
      %img{alt: "", src: "/images/aw_4.jpg"}/
    %p Зарядний пристрій HAHNEL Ventra Synergy AA 2500 (x2)
  .award
    %a{href: "http://strobist.ua/pulty/jjc-ir-u1.html"}
      %img{alt: "", src: "/images/aw_5.jpg"}/
    %p Універсальний інфрачервоний пульт JJC IR-U1
  .award
    %a{href: "http://strobist.ua/drugie/phottix-edge-2.0.html"}
      %img{alt: "", src: "/images/aw_6.jpg"}/
    %p Картрідер Phottix Edge 2.0
  .award
    %a{href: "http://strobist.ua/remni/universalnyjj-kistevojj-remen-dlja-nikon-canon-sony-pentax-i-drugikh-fotoapparatov.html"}
      %img{alt: "", src: "/images/aw_7.jpg"}/
    %p Універсальний кистєвий ремінь
  .award
    %a{href: "http://strobist.ua/rasseivateli/rasseivatel-jyc-fr-01.html"}
      %img{alt: "", src: "/images/aw_8.jpg"}/
    %p Розсіювач для бліца JYC FR-01


-#    sponsors
.sponsors.wrapper#partners
  %h3 Спонсори
  %a{href: "#"}
    %img{alt: "tamron", src: "/images/tamron.png"}/
  %a{href: "#"}
    %img{alt: "prophoto", src: "/images/prophoto.png"}/
  %a{href: "#"}
    %img{alt: "manfrotto", src: "/images/manfrotto.png"}/
  %a{href: "#"}
    %img{alt: "strobist", src: "/images/strobist.png"}/
.partners.wrapper
  %h3 Партнери
  .partnerlist
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "saychesee", src: "/images/saychesee.png"}
        %p.fix В рамках східного партнерства
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "nsfhu", src: "/images/nsfhu.png"}
        %p Патронат НСФХУ 02/2015
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "isf", src: "/images/isf.png"}
        %p Label ISF 126/2015
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "colunb", src: "/images/colunb.png"}
        %p Фотоклуб Колумб
    %br/
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "ukrinform", src: "/images/ukrinform.png"}
      %p Інформаційна підтримка
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "altera", src: "/images/altera.png"}
      %p Медіапартнер
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "den", src: "/images/den.png"}
      %p СПЕЦІАЛЬНИЙ ПАРТНЕР
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "foroafisha", src: "/images/fotoafisha.png"}
      %p Інформаційна підтримка
    %br/
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "photographer", src: "/images/photographer.png"}
      %p Інформаційна підтримка
    .partner
      .partnerlogo
        %a{href: "#"}
          %img{alt: "je", src: "/images/je.png"}
      %p

-#        jury
.jury#jury
  .jury_wrap
    %h3 Журі
    .prev
    .next
    .slider
      .member
        %img{alt: "jury_vysheslavskyj", src: "/images/jury_vysheslavskyj.png"}
        %p
          Гліб ВИШЕСЛАВСЬКИЙ
          %br/
          %span Мистецтвознавець, Київ
      .member
        %img{alt: "jury_gaidai", src: "/images/jury_gaidai.png"}
        %p
          Ігор ГАЙДАЙ
          %br/
          %span Фотограф, «Гайдай студіо», Київ
      .member
        %img{alt: "jury_perun", src: "/images/jury_perun.png"}
        %p
          Тарас ПЕРУН
          %br/
          %span НСФХУ, Чернівці
      .member
        %img{alt: "jury_perun", src: "/images/jury_perun.png"}
        %p
          Ростислав Кондрат
          %br/
          %span Посада
      .member
        %img{alt: "jury_perun", src: "/images/jury_perun.png"}
        %p
          Андрій Назаренко
          %br/
          %span Посада
    .identificators
      .ident.current
      .ident


%footer.wrapper
  %a{href: "#"}
    %img{alt: "fb_logo", src: "/images/fb_logo.png"}
  .adress
    %p
      Івано­-Франківська обласна організація
      Національної спілки фотохудожників України
      %br
      (НСФХУ)
      %br
      а/с 2, 76018 Івано-Франківськ
  %p +38 (0342) 74-03-78
  %p portrait.if@gmail.com
  .copyright
    %p © 2015
