-# .wrapper_menu
-#   .menu
-#     .logo.menu-transition
-#       %img.menu-transition{:alt => "logo", :src => "/images/logo.png"}
-#     %nav.menu-transition.js-main-nav
-#       %ul.nav
-#         %li.active
-#           %a(href='#start') Старт
-#         %li
-#           %a(href='#calendar') Календар виставки
-#         %li
-#           %a(href='#awards') Нагороди
-#         %li
-#           %a(href='#partners') Партнери
-#         %li
-#           %a(href='#jury') Журі


-# .slide#start
-#   .slide__bg
-#     .slide_text
-#       %h1.photo_logo ФОТОПОРТРЕТ
-#       %h4 Шоста бієнале імені Степана НАЗАРЕНКА
-#       %h4
-#         Фотопортрет — національний конкурс в жанрі фотопортретистики, що проходить в режимі бієнале.
-#         Мета конкурсу — продовження та розвиток
-#         кращих традицій української портретної фотографії.


-#      take part
= haml :_take_part
