.wrapper_menu
  .menu
    .logo.menu-transition
      %img.menu-transition{:alt => "logo", :src => "/images/logo.png"}
    %nav.menu-transition.js-main-nav
      %ul.nav
        %li.active
          %a(href='#start') Старт
        %li
          %a(href='#calendar') Календар виставки
        %li
          %a(href='#awards') Нагороди
        %li
          %a(href='#partners') Партнери
        %li
          %a(href='#jury') Журі


.slide#start
  .slide__bg
    .slide_text
      %h1.photo_logo ФОТОПОРТРЕТ
      %h4 Шоста бієнале імені Степана НАЗАРЕНКА
      %h4
        Фотопортрет — національний конкурс в жанрі фотопортретистики, що проходить в режимі бієнале.
        Мета конкурсу — продовження та розвиток
        кращих традицій української портретної фотографії.


-#      take part
= haml :_take_part


-#      calendar
.calendar#calendar
  %img{alt: "", blur: "", src: "/images/bgblur.png"}
  .events
    %h3 Календар виставки
    %ul
      %li
        %span 31 березня, 23:59
        %h4 Остання дата прийому робіт
      %li
        %span 07 квітня
        %h4 Робота журі
      %li
        %span Квітень
        %h4 Повідомлення рішення журі
      %li
        %span 05 травня
        %h4 Відкриття виставки, церемонія нагородження
      %li
        %span літо–осінь 2017
        %h4 Розсилка каталогів



-#    sponsors
.partners.wrapper
  %h3 Організатори
  .partnerlist
    .parterline
      .partner
        .partnerlogo
          %a{href: "http://www.photospilka.com"}
            %img{alt: "Івано-Франківська обласна організація НСФХУ", src: "/images/nsfhu.png"}
          %p Івано-Франківська обласна організація НСФХУ
      .partner
        .partnerlogo
          %a{href: "http://photocolumb.at.ua"}
            %img{alt: "фотоклуб «Колумб»", src: "/images/columb.png"}
          %p Народний фотоклуб «Колумб», Тисмениця
    .parterline
      .partner
        .partnerlogo
          %a{href: "http://www.if.gov.ua"}
            %img{alt: "Управління культури, національностей та релігій Івано-Франківської облдержадміністрації", src: "/images/ifgov.png"}
          %p Управління культури, національностей та релігій Івано-Франківської облдержадміністрації

      .partner
        .partnerlogo
          %a{href: "http://www.mvk.if.ua"}
            %img{alt: "Виконавчий комітет Івано-Франківської міської ради", src: "/images/mvk.jpg"}
          %p Виконавчий комітет Івано-Франківської міської ради
      .partner
        .partnerlogo
          %a{href: "http://kultura-tsm.at.ua"}
            %img{alt: "Відділ культури Тисменицької райдержадміністрації", src: "/images/vkt.jpg", style:"height:100px"}
          %p Відділ культури Тисменицької райдержадміністрації

.partners.wrapper
  .partnerlist
    .parterline
      .partner
        .partnerlogo
          %a{href: "http://www.photospilka.com"}
            %img{alt: "Національна спілка фотохудожників України", src: "/images/nsfhu.png"}
          %p  Патронат 01/2017
      .partner
        .partnerlogo
          %a{href: "http://www.image-sans-frontiere.com/"}
            %img{alt: "LABEL ISF 126/2015", src: "/images/isf.jpg"}
          %p LABEL ISF 030/2017
-#        awards
.medals.wrapper
  %h3 Нагороди
  .medal
    %img{alt: "", src: "/images/medals/ISF-gold.png"}/
    %p Золота медаль <br> ISF
  .medal
    %img{alt: "", src: "/images/medals/ISF-silver.png"}/
    %p Срібна медаль <br> ISF
  .medal
    %img{alt: "", src: "/images/medals/ISF-bronze.png"}/
    %p Бронзова медаль <br> ISF
  .medal
    %img{alt: "", src: "/images/medals/NSPAU-gold.png"}/
    %p Золота медаль <br> НСФХУ
  .medal
    %img{alt: "", src: "/images/medals/NSPAU-silver.png"}/
    %p Срібна медаль <br> НСФХУ
  .medal
    %img{alt: "", src: "/images/medals/NSPAU-bronze.png"}/
    %p Бронзова медаль <br> НСФХУ

.awards.wrapper#awards
  %h3 Призи
  .award
    %a{href: "http://www.prophoto.ua/products/tripod/pro/1343/"}
      %img{alt: "", src: "/images/aw_1.jpg"}/
    %p Штатив професійний SLIK Able 300 DX
  .award
    %a{href: "http://www.prophoto.ua/products/278/1391/?rp=9 "}
      %img{alt: "", src: "/images/aw_2.jpg"}/
    %p Відбивач круглий LASTOLITE  Bottletops 5in1 50см (2096) (x2)
  .award
    %a{href: "http://www.prophoto.ua/products/305/310/1799/?rp=4  "}
      %img{alt: "", src: "/images/aw_4.jpg"}/
    %p Зарядний пристрій HAHNEL Ventra Synergy AA 2500 (x2)
  .award
    %a{href: "http://strobist.ua/pulty/jjc-ir-u1.html"}
      %img{alt: "", src: "/images/aw_5.jpg"}/
    %p Універсальний інфрачервоний пульт JJC IR-U1
  .award
    %a{href: "http://strobist.ua/drugie/phottix-edge-2.0.html"}
      %img{alt: "", src: "/images/aw_6.jpg"}/
    %p Картрідер Phottix Edge 2.0
  .award
    %a{href: "http://strobist.ua/remni/universalnyjj-kistevojj-remen-dlja-nikon-canon-sony-pentax-i-drugikh-fotoapparatov.html"}
      %img{alt: "", src: "/images/aw_7.jpg"}/
    %p Універсальний кистєвий ремінь
  .award
    %a{href: "http://strobist.ua/rasseivateli/rasseivatel-jyc-fr-01.html"}
      %img{alt: "", src: "/images/aw_8.jpg"}/
    %p Розсіювач для бліца JYC FR-01

  %p.notice *призовий фонд в процесі доукомплектації

.sponsors.wrapper.center#partners
  %h3 Спонсори
  %a{href: "http://www.slik.com.ua/"}
    %img{alt: "SLIK", src: "/images/slik.jpg", style: 'width:190px'}
  %a{href: "http://www.prophoto.ua/"}
    %img{alt: "ПРОФОТО", src: "/images/prophoto.png"}
  %a{href: "http://manfrotto.com.ua/"}
    %img{alt: "Manfrotto", src: "/images/manfrotto.png"}
  %a{href: "http://strobist.ua/"}
    %img{alt: "Strobist.ua", src: "/images/strobist.png"}
  %a{href: "http://halytska.if.ua"}
    %img{alt: "страхова компанія «Галицька»", src: "/images/gal.png"}
  %a{href: "http://www.kuvert.com.ua"}
    %img{alt: "Kuvert Ukraine", src: "/images/kuvert.jpg"}
  %a{href: "https://www.amway.ua/"}
    %img{alt: "Amway", src: "/images/amway.jpg"}
  %br
  %a{href: "#"}
    %img{alt: "Фото-відео студія в ратуші", src: "/images/ratushi.jpg"}
  %a{href: "#"}
    %img{alt: "прометей фото студія", src: "/images/prometey.jpg"}
  %a{href: "http://carpatiia.ua/"}
    %img{alt: "Карпатія", src: "/images/karpatia.jpg"}
  %a{href: "http://sako.com.ua/"}
    %img{alt: "Сако", src: "/images/sako.jpg"}
  %br
  %a{href: "http://www.kinolumiere.com"}
    %img{alt: "Люм’єр", src: "/images/lumier.jpg"}
  %a{href: "http://vk.com/expresia"}
    %img{alt: "Люм’єр", src: "/images/expresia.jpg"}
  %br
  %a{href: "http://piz.pizza-plus.com.ua/"}
    %img{alt: "Піца Плюс", src: "/images/pizza-plus.png"}
  %a{href: "http://tismenicya-hutrofirma.business-guide.com.ua/"}
    %img{alt: "Хутрофірма Тисмениця", src: "/images/hutrofirma.png"}
  %a{href: "https://plus.google.com/112304368176541304625/about"}
    %img{alt: "Фотосалон Ромашка", src: "/images/romashka.png"}


.partners.wrapper
  %h3 Партнери
  .partnerlist
    .partner
      .partnerlogo
        %a{href: "http://warm.if.ua/"}
          %img{alt: "Середовище «Тепле Місто»", src: "/images/warm.jpg"}
        %p Середовище «Тепле Місто»
.partners.wrapper
  %h3 Інформаційна підтримка
  .partnerlist
    .partner
      .partnerlogo
        %a{href: "http://www.ukrinform.ua/"}
          %img{alt: "УКР інформ", src: "/images/ukrinform.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.day.kiev.ua/uk"}
          %img{alt: "газета «День»", src: "/images/den.png"}
    .partner
      .partnerlogo
        %a{href: "http://www.galychyna.if.ua"}
          %img{alt: "газета «Галичина»", src: "/images/gal.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://www.ap.if.ua"}
          %img{alt: "Афіша прикарпаття", src: "/images/afisha.jpg"}
    %br/
    .partner
      .partnerlogo
        %a{href: "http://www.fotoafisha.com"}
          %img{alt: "ФОТОАФИША", src: "/images/fotoafisha.png"}
    .partner
      .partnerlogo
        %a{href: "http://civicua.org/main/index.html"}
          %img{alt: "Громадський простір", src: "/images/gromad.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://altera.tv"}
          %img{alt: "altera tv", src: "/images/altera.png"}
    .partner
      .partnerlogo
        %a{href: "http://dphotographer.com.ua"}
          %img{alt: "Photographer", src: "/images/photographer.png"}
    %br/
    .partner
      .partnerlogo
        %a{href: "http://artes.in.ua"}
          %img{alt: "Artes", src: "/images/artes.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://radio.z-polus.info"}
          %img{alt: "Західний полюс", src: "/images/1043.png"}
    .partner
      .partnerlogo
        %a{href: "http://24tv.ua"}
          %img{alt: "Канал 24", src: "/images/channel24.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://foto.ua"}
          %img{alt: "Фото UA", src: "/images/foto-ua.png"}
    %br/
    .partner
      .partnerlogo
        %a{href: "http://odtrk.if.ua/"}
          %img{alt: "ОДТРК Карпати", src: "/images/odtk-karpaty.png"}
    .partner
      .partnerlogo
        %a{href: "http://kurs.if.ua/"}
          %img{alt: "Курс", src: "/images/kyrs.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://www.vezha.org/"}
          %img{alt: "Вежа", src: "/images/veja.jpg"}
    .partner
      .partnerlogo
        %a{href: "https://www.facebook.com/TysmenyckaVpered"}
          %img{alt: "Фото UA", src: "/images/vpered.jpg"}
    %br/
    .partner
      .partnerlogo
        %a{href: "http://report.if.ua/"}
          %img{alt: "Репортер", src: "/images/reporter.png"}
    .partner
      .partnerlogo
        %a{href: "https://www.facebook.com/pages/%D0%A2%D0%A0%D0%9A-3-%D0%A1%D1%82%D1%83%D0%B4%D1%96%D1%8F/754695324554626"}
          %img{alt: "3 студія", src: "/images/3studia.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://galtv.if.ua/home/"}
          %img{alt: "Галичина", src: "/images/halychyna.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://zk.at.ua/"}
          %img{alt: "Західний кур’єр", src: "/images/zhkurier.jpg"}

    %br
    .partner
      .partnerlogo
        %a{href: "http://gk-press.if.ua"}
          %img{alt: "Галицький кореспондент", src: "/images/gk.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://briz.if.ua"}
          %img{alt: "Бріз", src: "/images/briz.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://trkrai.com"}
          %img{alt: "РАІ", src: "/images/rai.jpg"}
    .partner
      .partnerlogo
        %a{href: "http://versal-online.com.ua"}
          %img{alt: "Верасль", src: "/images/versal.jpg"}
    %br
    .partner{style: "padding-left: 145px;"}
      .partnerlogo
        %a{href: "https://plus.google.com/106584515497507173754/about?gl=ua&hl=uk"}
          %img{alt: "Яремчанський вісник", src: "/images/yav.png"}
    .partner{style: "padding-left: 100px;"}
      .partnerlogo
        %a{href: "http://www.golos-narodu.com.ua/"}
          %img{alt: "Голос народу", src: "/images/holos-narodu.png"}


-#        jury
.jury#jury
  .jury_wrap
    %h3 Журі
    .block
      %a.member{href: 'http://www.glib.vysheslavsky.name/index.html'}
        %img{alt: "jury_vysheslavskyj", src: "/images/jury_vysheslavskyj.png"}
      .content
        %p.title
          Гліб ВИШЕСЛАВСЬКИЙ
          %br/
          %span Київ
        %p
          Художник, мистецтвознавець. З&nbsp;1980-х рр. автор та&nbsp;учасник багатьох персональних, міжнародних та&nbsp;місцевих колективних виставок (живопис, графіка, фотографія, інсталяція). У&nbsp;1980-х брав участь у&nbsp;русі митців-сквоттерів (Москва, Київ, Париж). У&nbsp;1990-х засновник і&nbsp;головний редактор часопису &laquo;TERRA INCOGNITA&raquo;. У&nbsp;2007&ndash;2010&nbsp;рр. головний редактор часопису &laquo;Галерея&raquo;. З&nbsp;2003&nbsp;р. науковий співробітник Інституту проблем сучасного мистецтва (Київ). Твори перебувають в&nbsp;Музеї сучасного мистецтва&nbsp;м. Сараєво (Боснія і&nbsp;Герцеговіна), Ментон (Франція), Національному музеї образотворчого мистецтва України (Київ), Трет&rsquo;яковській галереї (Москва).
    .block
      %a.member{href: 'http://photogaidai.com/'}
        %img{alt: "Фото &copy;&nbsp;Олександр Саврук", src: "/images/jury_gaidai.png"}
      .content
        %p.title
          Ігор ГАЙДАЙ
          %br/
          %span Київ
        %p
          Фотограф, засновник і&nbsp;співвласник ТОВ &laquo;ГАЙДАЙ СТУДІЯ&raquo; та&nbsp;галереї &laquo;КАМЕРА&raquo;, автор трьох фотокниг: &laquo;Українці. Початок третього тисячоліття&raquo; (1996-2003), &laquo;9&nbsp;місяців + 3&nbsp;дні&raquo; (2006-2008), &laquo;РАЗОМ.UA&raquo; (2004-2011). 15&nbsp;років співпрацював з&nbsp;провідними світовими рекламними агенціями як&nbsp;незалежний фотограф. З&nbsp;2002-го року залишив роботу в&nbsp;рекламі і&nbsp;присвятив свій час створенню й&nbsp;продюсуванню власних авторських фотопроектів і&nbsp;пропагуванню світової фотографії в&nbsp;Україні і&nbsp;української фотографії&nbsp;&mdash; в&nbsp;Європі.
    .block
      %a.member{href: 'https://www.instagram.com/gorichok/'}
        %img{alt: "Фото &copy;&nbsp;Сергій Горічок", src: "/images/jury_gorichok.png"}
      .content
        %p.title
          Сергій ГОРІЧОК
          %br/
          %span Івано-Франківськ
        %p
          Незалежний фотограф. Займається фотографією з&nbsp;2010-го року, член Національної Спілки фотохудожників України з&nbsp;2016-го року. Працює у&nbsp;портретному жанрі. З&nbsp;2014-го року&nbsp;&mdash; організатор групової щорічної виставки &laquo;Сучасний портрет&raquo;. Співпрацює з&nbsp;глянцевими видання: &laquo;Versal&raquo;, &laquo;Діти&raquo;, &laquo;Лікар&raquo;, &laquo;Like&raquo;. Автор персональних виставок &laquo;Портрет тет-а-тет&raquo;, &laquo;Час цінувати Час&raquo;.
    .block
      %a.member{href: 'http://photospilka.com/perun-taras-436/'}
        %img{alt: "Фото &copy;&nbsp;Вадим Козловський (старший)", src: "/images/jury_perun.png"}
      .content
        %p.title
          Тарас ПЕРУН
          %br/
          %span Чернівці
        %p
          Фотограф, член Національної Спілки фотохудожників України з&nbsp;2007-го року, голова Чернівецької обласної організації НСФХУ з&nbsp;2009-го року, член Приймальної комісії НСФХУ. Автор 8&nbsp;персональних виставок фотографій, брав участь у&nbsp;понад 50&nbsp;міжнародних та&nbsp;вітчизняних колективних виставках в&nbsp;Україні, Румунії, Німеччині, Австрії, Італії, Польщі. Один із&nbsp;засновників Чернівецького Народного фотоклубу &laquo;Позитив&raquo;.
    .block
      %a.member{href: 'http://tiosulfat.tumblr.com/'}
        %img{alt: "Фото &copy;&nbsp;Олександр Орлов", src: "/images/jury_chernichkin.png"}
      .content
        %p.title
          Іван ЧЕРНІЧКІН
          %br/
          %span Київ
        %p
          Фотограф, співзасновник креативної агенції &laquo;PoleZory&raquo;, автор та&nbsp;учасник персональних та&nbsp;колективних виставок. Закінчив факультет художньої фотографії Інституту кіно і&nbsp;телебачення Київського національного університету культури і&nbsp;мистецтв. З&nbsp;2004-го року працював фотожурналістом у&nbsp;виданнях X-Life, Коммерсант, агенстві новин REUTERS, був учасником майстер-класу Joop Swart World Press Photo, працював в&nbsp;журналі Фокус. Публікувався в&nbsp;REUTERS, AFP, New York Times, Daily Telegraph, Vogue, Sunday Telegraph, Frankfurter Allgemeine Zeitung, Herald Tribune, L&rsquo;Officiel, співпрацював з&nbsp;WHO i&nbsp;EBRD.

%footer.wrapper
  %a.fb_logo{href: "#{SiteConfig.fb_url}"}

    %img{alt: "fb_logo", src: "/images/fb_logo.png"}
  .adress
    %p
      Івано­-Франківська обласна організація
      Національної спілки фотохудожників України
      %br
      (НСФХУ)
      %br
      а/с 2, 76018 Івано-Франківськ
  %p +38 (0342) 74-03-78
  %p portrait.if@gmail.com
  .copyright
    %p © 2015–2017
