.wrapper.done
  %img{alt: "done", src: "/images/done.png"}/
  %p Вітаємо!
  %br/
  %span
    Ваші роботи успішно завантажені.
    %br
    Ми повідомимо вас про результати конкурсу по e-mail

  %a.btn.btn--close{href: '/'} Назад до сайту