body {
    position: relative;
}
h1{
	font-family: 'Roboto Slab',sans-serif;
	font-size: 100px;
	color: #ffffff;
	text-shadow: 4px 4px 0 #000;

}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 36px;
	color: #ffffff;
}
h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #ffffff;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #ffffff;

}

.wrapper{
    position: relative;
    width: 960px;
    margin: 0 auto;
}




.wrapper_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: white;
}

    .menu {
        width: 960px;
        margin: 0 auto;
    }

        .logo {
            float: left;
            padding: 20px;
        }
            .logo img {
                width: 80px;
                height: 80px;
            }

        nav {
            padding: 45px 200px 0 130px;
        }
            nav li {
                display: inline;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 700;
                font-size: 14px;
                padding: 0 5px 12px 5px;
                margin: 0 20px 0 20px;
                text-transform: uppercase;
            }
            nav li a {
                color: #666666;
                text-decoration: none;
            }

            nav li:hover a {
                color: #8f7726;
                cursor: pointer;
            }

            nav li.active {
                border-bottom: 2px solid #8f7726;
            }
            nav li.active a {
                color: #8f7726;
            }

.dropshadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
    .dropshadow nav {
        padding-top: 20px;
    }
    .dropshadow .logo {
        padding: 10px;
    }
    .dropshadow img {
        width: 40px;
        height: 40px;
    }

.menu-transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.slide{
    padding-top: 120px;
	clear: both;
	position: relative;
	height: 70%;
}
    .slide__bg{
        width: 100%;
        height: 100%;
        background: url('/images/slide_bg.jpg');
        background-size: cover;
    }

    .slide_text{
        position: relative;
        float: right;
        width: 60%;
        margin-right: 10%;
        margin-top: 5%;
    }
        .slide_text h1{
            font-size: 5em;
        }
            .slide_text h1,.slide_text h2,.slide_text h4{
                text-align: right;
                float: right;
                padding-top: 20px;
            }


#dd_button{

	width: 100%;
	height: 100px;
	position: relative;
	background: #8f7726;
	 -webkit-transition:  0.3s ease-out 0.3s;
     -moz-transition: 0.3s ease-out 0.3s;
     -o-transition:  0.3s ease-out 0.3s;
     transition:  0.3s ease-out 0.3s;
}

#dd_button h2{

	position: relative;
	margin: auto;
	top: 25px;
    width: 600px;
	text-align: center;
	d

}


#dd_button h2:before{	
     content: "";
     display: inline-block;
     background: url('/images/arrows_sprite.png') no-repeat 0 -6px;
     width: 26px; 
     height: 17px;
     padding-right: 14px;
     padding-bottom: 3px;
     	
}
#dd_button:hover{
	background: #776320;
	cursor: pointer;
}

.steps{
	width: 710px;
	height: 50px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	color: #666666;
}

.steps li{
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	
	margin: 0 15px 0 15px;
	padding: 0 0 20px 0;
	bord
}

textarea{
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	color: #2f2f2f;
	width: 940px;
	height: 420px;
	resize:none;
	margin: auto;
}

.termslist{
	margin: auto;
	width: 960px;
	position: relative;
	padding-left: 10px;
}
#dd_takepart_content{
	display: none;
}
.terms, .form, .upload, .steps,.done{
	padding-top: 45px;
	display: none;
}

.forward{
	background: #8f7726;
	text-align: center;
	height: 60px;
	
}

.forward span, .back span{
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	position: relative;
	top: 17px;
}
.forward:hover{
	background: #776320;
	cursor: pointer;
}
.back{
	background: #414140;
	text-align: center;
	height: 60px;
	width: 160px;
	float: left;
	border-right: 1px solid white;
}
.back:hover, .close:hover{
	background: #2d2a2f;
	cursor: pointer;
}

.form p{
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #b7b7b7;
	text-transform: uppercase;
	padding-top: 60px;
}
.form p:first-child{
	padding-top: 0;
	padding: 0 0 7px 0;
}
.back,.forward{
	margin-top: 34px;
}
.inputfield{
	padding-top: 25px;
}
.inputfield span{
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 400;
	font-size: 18px;
	display: block;
	color: #7f7f7f;
}
input[type="text"]{
	width: 354px;
	height: 54px;
	font-family: 'Roboto',sans-serif;
	font-size: 24px;
	border: 3px solid #bdbdbd;
	padding-left: 10px;
}
input[type="text"]:focus{
	border: 3px solid #8f7726;
}
.prewiev{
    width: 300px;
    height: 300px;
    background:#d7d7d7;
    text-align: center;
}
.uploadform{
	float: left;
	padding: 20px 10px 10px 10px;

}
.uploadform input[type="text"]{
	width: 283px;
}

.clear{
	clear: both;
}
.prewiev span{
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #7f7f7f;
	display: block;
}

.uploadform img{
	position: relative;
	margin: auto;
	display: block;
	padding: 74px 0 45px 0;
}
.uploadwrap p{
	text-align: center;
	position: relative;
	margin: auto;
	width: 900px;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #7f7f7f;

}
.done{
	padding-top: 20px;
	text-align: center;
	height: 340px;
}

.done p{
	position: relative;
	font-family: 'Roboto Slab',sans-serif;
	font-size: 60px;
	color: #237935;
	display: inline;
	top: 17px;
	padding-left: 10px;
	
}

.done span{
	position: relative;
    top: 20px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #7f7f7f;
	
}
.close{
	background: #414140;
	text-align: center;
	height: 60px;
	width: 960px;
	margin-top:50px;
}
.close span:before{
	position: relative;
	margin: 0 10px 0 0;
	content: "";
     display: inline-block;
	background: url('/images/close.png') ;
	width: 17px;
	height: 17px;
	top: 2px;

}
.close span{
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	position: relative;
	top: 17px;
}

.error{
    position:relative;
    width:400px;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: red;
    top: -40px;
    left: 400px;
}


.calendar {
	background: url(/images/pattern.png) repeat repeat;
}
    .calendar img {
        position: absolute;
        width: 50%;
        left:30%;
        opacity: 0.6;
    }

    .events {
        margin: 0 auto;
        width: 680px;
        text-align: center;
        padding: 20% 0;
    }
        .events span {
            position: relative;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #ffffff;
            top:6px;

        }
            .events h3 {
                padding-top: 20px;
            }
            .events li {
                margin-top:30px;
            }




.awards h3,.sponsors h3,.partners h3 {
	color: #5e5222;
	position: relative;
	margin: auto;
	width: 200px;
	padding-top: 100px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.awards{
	
}
.sponsors img{
    margin: 20px 30px 10px 29px;
}


.partner p{
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #464645;
	text-transform: uppercase;
	width: 220px;
	padding-top: 30px;
	
}

.partner{
    width: 220px;
	height: 90px;
	padding-bottom: 80px;
	padding-left: 20px;
	text-align: center;
	display: table-cell;
	position: relative;
	vertical-align: bottom;

}

.partnerlist{
	padding-top: 30px;
	position: relative;
	
}

.fix{
	position: relative;
	top: 17px;
}
.jury{
	width: 100%;
	height: 500px;
	background: #2d2a2f;
}
.jury h3{
	position: relative;
	margin: auto;
	width: 100px;
	padding-top: 40px;
	text-transform: uppercase;
}

.member{
	float: left;
	margin: 0 0px 0 64px;
}
.member img{
	
	 -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
    border: 5px solid #403d42;
}
.jury_wrap{
	width: 960px;
	overflow: hidden;
	position: relative;
	margin: auto;
}
.slider{
	position: relative;
	width: 10000px;
	text-align: center;
	padding-top: 35px;
}
.prev{
	background: url('/images/arrows_sprite.png') no-repeat -40px 0;
	width: 18px; 
	height: 29px;
	z-index: 3;
	opacity: 0.5;
	float: left;


}
.next{
	background: url('/images/arrows_sprite.png') no-repeat -116px 0; width: 18px; height: 29px;
	opacity: 0.5;
	float: right;

}
.next,.prev{
		 -webkit-transition: opacity 0.1s ease-out 0.1s;
     -moz-transition: opacity 0.1s ease-out 0.1s;
     -o-transition:opacity  0.1s ease-out 0.1s;
     transition: opacity 0.1s ease-out 0.1s;
     position: relative;
     top: 140px;
}
.prev:hover, .next:hover{
	opacity: 1;
};
.slider.member:first-child{
    padding-left: 64px;   
} 
.jury p{
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
	padding-top: 20px;
}
.jury span{
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #a2a1a2;

}

.identificators{
	width: 50px;
	position: relative;
	margin: auto;
}

.ident{
	margin: 20px 2px 0 2px;

	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    float: left;

    background: #2d2a2f;
	border: 1px solid white;
	width: 14px;
	height: 14px;
}
.current{
	width: 15px;
	height: 15px;
	background: #ffffff;
}
footer{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #7f7f7f;
}
footer img{
	float: left;
	padding: 30px 30px 0 40px;
}
.adress{
	float: left;
	width: 500px;
}
footer p{
	position: relative;
top:30px;
padding: 0 30px 20px 30px;
}
.copyright{
float: right;
position: relative;
top:-85px;
padding-right: 20px;
}


.award{
	float: left;
	position: relative;
	width: 220px;
	padding: 30px 10px 20px 10px;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	font-size: 12px;
}
.awards{
	position: relative;
	padding-bottom: 30px;
	height: 750px;
}
.award p{
	padding-top: 20px;
}
.award img {
	height: 200px;
	width: 200px;
}